.block-form {
    padding: 30px 30px 0 30px;
}
.movie-form {
    font-size: 20px;
    width: 462px;
}
.add-movie {
    font-size: 22px;
    padding: 0 10px;
    margin-left: 10px;
    border-radius: 4px ;
    background: #282c34;
    border: 2px solid #282c34;
    color: #fff;
}