.block-movie {
    padding: 15px;
}
.movie {
    padding: 0 10px;
    float: left;
    width: 450px;
    border-radius: 6px;
}
.div-button {
   float: right;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.button-removed {
    font-size: 38px;
    padding: 0 10px;
    background: #282c34;
    color: #fff;
    border: 1px solid #282c34;
    border-radius: 4px;
}
.input-change {
    width: 100%;
    padding: 5px 0;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 5px;
}